@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
header{
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}
header, footer{
text-align: center;
border-bottom: 1px solid black;
border-top: 1px solid black;
}
nav{
  background: #eee;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
ul li{
  list-style-type: none;
  margin-right: 20px;
  display: inline-block;
}
a:hover{
  font-weight: bold;
}
a:active{
  text-decoration: none;
}
a:visited{
  color: black;
}
